.bubbleForuser {
  background-color: #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
  border-bottom-right-radius: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-width: 30%;
  border-bottom-right-radius: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-width: 30%;
  margin: 10px;
}

.bubbleForbot {
  background-color: #b3b3b3;
  background-color: #b3b3b3;
  border-radius: 15px;
  padding: 10px;
  min-width: 40%;
  margin: 10px;
  border-bottom-left-radius: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search_div {
  bottom: 5%;
  width: 60%;

  /* top: 95%; */
  /* position: absolute; */
  position: fixed;
  /* overflow: hidden; */

  margin: 0;

  /* float: right; */
  /* display: inline; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: black; */
}

.date {
  color: grey;
  margin-left: 40%;
  padding: 20px;
}
/* .chatbox {
  border: 2px;
} */


.suggest{
  background-color: #f5f5f5;
  /* padding: 2px; */
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
  
  
}

.date {
  color: grey;
  margin-left: 40%;
  padding: 20px;
}
/* .chatbox {
  border: 2px;
} */

.suggest:hover{
  background-color: #dbdbdb;

  
  
}